@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Dancing Script' cursive;
  font-size: 25px;
}

.back {
  max-width: 1180px;
  background: #D7D1CC;
  color: #2F1B0B;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
}

.conteiner {
  max-width: 100%;
  overflow: hidden;
}

#menu__toggle {
  opacity: 0;
}

.header {
  padding-top: 50px;
}

.logo {
  width: 300px;
  height: 150px;
}

.menu__box {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2F1B0B;
}

.menu__item {
  color: #DDD8D3;
}

.menu__item:link {
  color: #DDD8D3;
}

.menu__item:hover {
  color: #c7a88e;
}

main {
  margin-top: 100px;
}

.info {
  min-height: 100vh;
  text-align: center;
}

.info p {
  margin-top: 50px;
  width: 70%;
}

.info button {
  margin-top: 50px;
  background: #2F1B0B;
  border-style: none;
  border-radius: 30px;
  color: #c7a88e;
  width: 300px;
  height: 70px;
  cursor: pointer;
}

.info button:hover {
  border: 2px solid whitesmoke;
}

.info_img1 {
  margin-top: 50px;
  width: 900px;
  height: 300px;
}

.info_img2 {
  margin-top: 100px;
  width: 700px;
  height: 300px;
}

.section1 {
  margin-top: 50px;
  text-align: center;
}

.sect1_content1 {
  background: #2F1B0B;
  top: 20px;
  color: #DDD8D3;
}

.sect1_content2 {
  margin-top: 50px;
}

.section2 {
  text-align: center;
  margin-top: 50px;
  width: 90%;
}

.section2 img {
  margin-top: 50px;
  width: 300px;
  height: 100px;
}

.section2 p,
.section2 h3,
.section2 h2 {
  margin-top: 50px;
}

.section3 {
  background: url(../img/main_sect3_back.png) 100% 100% no-repeat;
  background-size: contain;
  text-align: center;
  min-height: 50vh;
  position: relative;
}

.sect3_content {
  position: absolute;
  bottom: 150px;
  left: 50%;
  margin-left: -25%;
  width: 50%;
}

.section4 {
  text-align: center;
  margin-top: 100px;
}

.section4 h2,
.section4 p {
  font-size: 42px;
}

.section5 {
  background: url(../img/main_sect4_back.png) no-repeat;
  background-size: contain;
  position: relative;
  text-align: center;
  min-height: 80vh;
}

.section5 p,
.section5 a {
  color: #DDD8D3;
  width: 90%;
  left: 0;
  right: 0;
}

.section5 p {
  position: absolute;
  bottom: 130px;
}

.section5 a {
  position: absolute;
  bottom: 90px;
}

.wraper_footer {
  min-height: 100vh;
  background: url(../img/footer_back.png) no-repeat;
  background-size: contain;
}

.f_section1 {
  position: relative;
  text-align: center;
}

.f_section1 p {
  width: 60%;
  position: absolute;
  left: 80px;
  top: 130px;
}

.f_section1 a {
  color: #2F1B0B;
  position: absolute;
  top: 220px;
  left: 400px;
}

.f_section2 {
  position: relative;
  text-align: center;
}

.f_section2 h2 {
  font-size: 42px;
  position: absolute;
  top: 500px;
  left: 0;
  right: 0;
}

.f_section2 p {
  font-size: 42px;
  position: absolute;
  top: 550px;
  left: 0;
  right: 0;
}

.f_section3 {
  border-top: 1px solid #2F1B0B;
}

.list_menu_footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.footer_link {
  color: #2F1B0B;
}

.list_icon {
  margin-top: 50px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.link_icon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

@media (max-width: 767px) {
  .back {
    padding: 0 15px;
    width: 100%;
  }

  .menu__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu__item {
    padding: 0 15px;
  }

  .info_img1 {
    width: 90%;
    height: 100px;
  }

  .info_img2 {
    width: 90%;
    height: 100px;
  }

  .section3 {
    margin-top: 370px;
  }

  .sect3_content {
    bottom: 20px;
  }

  .section4 h2,
  .section4 p {
    font-size: 25px;
  }
}